<div class="container-login ">
    <mat-card>
        <mat-card-title >
          <h4>Sign In</h4>
        </mat-card-title>
        <mat-card-content class="mat-elevation-z8">
      <form [formGroup]="loginForm" >
      <mat-form-field>
          <input matInput placeholder="Username" type="text" class="example-right-align" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="password" formControlName="password">    </mat-form-field>
        <div mat-dialog-actions>
          <button mat-raised-button  (click)="authenticate(loginForm.value)" [disabled]="!loginForm.valid">Login</button>
        </div>
        </form>
      </mat-card-content>
      </mat-card>
</div>