<div class="container-login">
  <div class="card">
      <form [formGroup]="loginForm">
      <mat-form-field>
          <input matInput placeholder="Username" type="text" class="example-right-align" formControlName="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your password" [type]="password" formControlName="password">    </mat-form-field>
        <div mat-dialog-actions>
          <button mat-raised-button  (click)="authenticate(loginForm.value)" [disabled]="!loginForm.valid">Login</button>
        </div>
        </form>
  </div>
</div>