.example-container {
    display: table;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }
  mat-form-field{
    padding: 2%;
  }
  @media(min-width: 600px) {
    .new-contact-container{
      padding: 5% 20% 0 16%;
     }
  }
 