<div class="new-contact-container">
  <mat-card>
    <mat-card-title>
      Create New Contact
    </mat-card-title>
    <mat-card-content >
      <div class="example-container">
        <form [formGroup]="contactDetailsForm">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" >
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Contact No" formControlName="contactNo">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Department" formControlName="department">
          </mat-form-field>
          <mat-form-field>
          <mat-select placeholder="Select" formControlName="status">
            <mat-option value="active">Active</mat-option>
            <mat-option value="inactive">Inactive</mat-option>
          </mat-select>
          </mat-form-field>
          </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="contactDetailsForm.reset()">
        Clear
      </button>
      <button mat-raised-button (click)="addContact(contactDetailsForm.value)" [disabled]="!contactDetailsForm.valid">
        Save
      </button>
    </mat-card-actions>
    <mat-card-footer>
     
    </mat-card-footer>
  </mat-card>
</div>